*{
    margin: 0;
    padding: 0;
}

body {
    background-color: #ffffff;
    border-color: #dddddd;
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    
}

.banner {
    background-color: #ffffff;
    border-color: #cccccc;
    border-width: 2px;
    border-style: solid;
    font-family: 'Times New Roman', Times, serif;
    height: 80px;
    width: auto;
}

nav{
    width: auto;
    height: 80px;

}

#name {
    background-color: #4aaaa5;
    width: 200px;
    height: 80px;
    text-align: center;
    font-size: 20px;
    color: white;
    position: relative; 
    line-height: 75px;
    left: 10%;
    margin: 0px;

}

nav ul{   
 
    margin: 0;
    padding: 0;
    color: #777777;
    width: 300px;
    height: 60px;
    float: right;
    position: relative;
    right: 10%;
  
}

nav li {
    list-style-type: none;
    display: inline-block;
    padding: 5px;
    font-size: 18px;
    border-right: 1px solid #bbb;
    padding: 10px;
    line-height: 50px;
   
}